@using RabbitMQWeb.WorkToPdf.Models
@model WordToPdf
@{
    ViewData["Title"] = "ConvertWordToPdf";
}

<div class="container col-md-6">
    <div class="container-fluid">
        <h1 class="text-center">Convert Word To Pdf</h1>
        @if (ViewBag.Result != null)
        {
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>@ViewBag.Result</p>
                <hr>
            </div>
        }

        <form asp-action="ConvertWordToPdf" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email address</label>
                <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label asp-for="WordFile" class="form-label">Word File</label>
                <input asp-for="WordFile" class="form-control" type="file">
            </div>
            <button type="submit" class="btn btn-primary">Convert Pdf</button>
        </form>
    </div>
</div>

